.fullForm{
	width:75%;
	margin:auto;
	max-width:750px;
	min-height:750px;
	position:relative;
	float:bottom;
}
.name_div{
	position:relative;
	padding:20px;
	float:center;
	margin:10px;
}
.name_label{
	float:left;
	width:30%;
	height:25px;
	text-align:left;
	font-size:20px;
	color:#000000;
}
.name_input{
	float:right;
	width:68%;
	height:25px;
}



.phsical_div{
	position:relative;
	padding:20px;
	float:center;
	margin:10px;
}
.phsical_label{
	float:left;
	width:30%;
	height:25px;
	text-align:left;
	font-size:20px;
	color:#000000;
}
.phsical_input{
	float:right;
	width:68%;
	height:25px;
}

.f_name_div,.m_name_div,.profession_div{
	position:relative;
	padding:20px;
	float:center;
	margin:10px;
}
.f_name_label,.m_name_label,.profession_label{
	float:left;
	width:30%;
	height:25px;
	text-align:left;
	font-size:20px;
	color:#000000;
}
.f_name_input,.m_name_input,.profession_input{
	float:right;
	width:68%;
	height:25px;
}

.subject_div{
	position:relative;
	padding:20px;
	float:center;
	margin:10px;
}
.designation_label{
	float:left;
	width:100%;
	height:25px;
	text-align:center;
	font-size:20px;
	color:#000000;
}

.subject_select{
	float:right;
	width:68%;
	height:25px;
}
.desi_select{
	float:left;
	width:25%;
	height:25px;
}
.guardian_div{
	position:relative;
	padding:20px;
	float:center;
	margin:10px;
}
.guardian_label{
	float:left;
	width:30%;
	height:25px;
	text-align:left;
	font-size:20px;
	color:#000000;
}
.guardian_input{
	float:right;
	width:68%;
	height:25px;
}

.phone_div{
	position:relative;
	padding:20px;
	float:center;
	margin:10px;
}
.phone_label{
	float:left;
	width:30%;
	height:25px;
	text-align:left;
	font-size:20px;
	color:#000000;
}
.phone_input{
	float:right;
	width:68%;
	height:25px;
}

.sex_div{
	position:relative;
	padding:20px;
	float:center;
	margin:10px;
}

.sex_label{
	float:left;
	width:30%;
	height:25px;
	text-align:left;
	font-size:20px;
	color:#000000;
}
.sex_radio_div{
	position:relative;
	float:center;
	margin:10px;
	margin-left:60px;
}
.radio_div{
	position:relative;
	padding:20px;
	float:center;
	margin:10px;
}
.date_div{
	position:relative;
	padding:20px;
	float:center;
	margin:10px;
	margin-left:
}

.date_label{
	float:left;
	width:30%;
	height:25px;
	text-align:left;
	font-size:20px;
	color:#000000;
}
.reg_button{
	background-color:#e0744a;
	width:68%;
	color:#fffbf9;
	height:35px;
}
.date_input_div{
	position:relative;
	padding:5px;
	float:center;
	margin:10px;
}
.date_input_day_label,.date_input_month_label,.date_input_year_label{
	float:left;
	width:20%;
	height:25px;
	text-align:left;
	font-size:15px;
	color:#000000;
	margin-left:50px;
}
.date_input{
	width:100px;
	height:25px;
	margin-left:5px;
}

.weight_input_div{
	position:relative;
	padding:20px;
	float:center;
	margin:10px;
}
.weight_input_label{
	float:left;
	width:30%;
	height:25px;
	text-align:left;
	font-size:20px;
	color:#000000;
}
.weight_input{
	width:10%;
	height:25px;
	margin-left:20px;
}




.height_input_div{
	position:relative;
	float:center;
	margin:10px;
	padding:10px;
	margin-left:20px;
}

.feet_input_label{
	width:10%;
	height:25px;
	text-align:left;
	font-size:20px;
	color:#000000;
	margin-left:20px;
	
}
.height_input_label{
	float:left;
	width:30%;
	height:25px;
	text-align:left;
	font-size:20px;
	color:#000000;
}
.height_first_input{
	width:10%;
	height:25px;
	margin-left:20px;
}
.height_second_input{
	margin-left:20px;
	width:10%;
	height:25px;
}

.image_pos{
	margin-top: 15px;
	margin-left:50px;
}
.heading_pos{
	margin-left:60px;
	margin-top:0px;
}
.date_input_one{
	float:left;
	width:30%;
	height:25px;
	margin-left: 15px;
}






