.fullForm{
 width:70%;
 height:500px;
 margin:auto;
 max-width:700px;
 min-height:550px;
 position:relative;
 float:bottom;
}
.name_div{
 position:relative;
 padding:25px;
 float:center;
 margin:10px;
}
.name_label{
 float:left;
 width:30%;
 height:30px;
 text-align:left;
 font-size:20px;
 color:#000000;
}
.name_input{
 float:right;
 width:68%;
 height:30px;
}

.f_name_div{
 position:relative;
 padding:25px;
 float:center;
 margin:10px;
}
.f_name_label{
 float:left;
 width:30%;
 height:30px;
 text-align:left;
 font-size:20px;
 color:#000000;
}
.f_name_input{
 float:right;
 width:68%;
 height:30px;
}

.subject_div{
 position:relative;
 padding:25px;
 float:center;
 margin:10px;
}
.subject_label{
 float:left;
 width:30%;
 height:30px;
 text-align:left;
 font-size:20px;
 color:#000000;
}
.subject_select{
 float:right;
 width:68%;
 height:30px;
}

.guardian_div{
 position:relative;
 padding:25px;
 float:center;
 margin:10px;
}
.guardian_label{
 float:left;
 width:30%;
 height:30px;
 text-align:left;
 font-size:20px;
 color:#000000;
}
.guardian_input{
 float:right;
 width:68%;
 height:30px;
}

.phone_div{
 position:relative;
 padding:25px;
 float:center;
 margin:10px;
}
.phone_label{
 float:left;
 width:30%;
 height:30px;
 text-align:left;
 font-size:20px;
 color:#000000;
}
.phone_input{
 float:right;
 width:68%;
 height:30px;
}

.physical_div{
 position:relative;
 padding:25px;
 float:center;
 margin:10px;
}

.physical_label{
 float:left;
 width:30%;
 height:30px;
 text-align:left;
 font-size:20px;
 color:#000000;
}

.radio_div{
 position:relative;
 padding:25px;
 float:center;
 margin:10px;
}
.date_div{
 position:relative;
 padding:25px;
 float:center;
 margin:10px;
}

.date_label{
 float:left;
 width:30%;
 height:30px;
 text-align:left;
 font-size:20px;
 color:#000000;
}
.reg_button{
 background-color:#e0744a;
 width:68%;
 color:#fffbf9;
 height:35px;
}
.date_input_div{
 position:relative;
 padding:5px;
 float:center;
 margin:10px;
}
.date_input_day_label,.date_input_month_label,.date_input_year_label{
 float:left;
 width:20%;
 height:25px;
 text-align:left;
 font-size:15px;
 color:#000000;
 margin-left:50px;
}
.date_input{
 width:100px;
 height:25px;
 margin-left:5px;
}
.date_input_one{
 float:left;
 width:30%;
 height:30px;
 margin-left: 10px;
}