RewriteEngine On
RewriteRule ^dusports?$ index.php
RewriteRule ^gym?$ gym.php
RewriteRule ^swim?$ swim.php
RewriteRule ^about-us?$ about-us.php
RewriteRule ^admissionswim?$ admissionswimMain.php
RewriteRule ^admissiongym?$  admissiongymMain.php
RewriteRule ^contact-us?$  contact-us.php
RewriteRule ^news?$  news.php
RewriteRule ^schedulegym?$ schedulegym.php
RewriteRule ^scheduleswim?$ scheduleswim.php
RewriteRule ^signLog?$ signLog.php
RewriteRule ^signcheck?$ SignUp.php
RewriteRule ^termgym?$ termgym.php
RewriteRule ^termswim?$ termswim.php
RewriteRule	^LoginCheckgym?$ LoginCheckgym.php
RewriteRule	^LoginCheckswim?$ LoginCheckswi.php
RewriteRule	^mail_verify?$ verify.php
RewriteRule	^gymmail_confirm?$ confirmgym.php
RewriteRule	^swimmail_confirm?$ confirm.php
RewriteRule	^formswimcheck?$ admissionswimCheck.php
RewriteRule	^formgymcheck?$ admissiongymCheck.php
RewriteRule	^forgotpassword?$ forgetPass.php
RewriteRule	^emailcheck?$ forgetPassMail.php
RewriteRule	^confirmpassword?$ forgetpasswordsubmit.php
RewriteRule	^updatepassword?$ updatepassword.php
RewriteRule	^logout?$ Logout.php
