RewriteEngine On
RewriteRule ^dusports?$ index.php
RewriteRule ^gym?$ gym.php
RewriteRule ^swim?$ swim.php
RewriteRule ^about-us?$ about-us.php
RewriteRule ^admissionswim?$ admissionswimMain.php
RewriteRule ^admissiongym?$  admissiongymMain.php
RewriteRule ^contact-us?$  contact-us.php
RewriteRule ^news?$  news.php
RewriteRule ^schedulegym?$ schedulegym.php
RewriteRule ^scheduleswim?$ scheduleswim.php
RewriteRule ^signLog?$ signLog.php
RewriteRule ^termgym?$ termgym.php
RewriteRule ^termswim?$ termswim.php
RewriteRule	^LoginCheckgym?$ LoginCheckgym.php
RewriteRule	^LoginCheckswi?$ LoginCheckswi.php